h1{
    font-size: 45px;
    font-weight: 700;
    margin: 15px;
    margin-bottom: 20px;
}
input{
    width: 100%;
}

.Item-container{
    text-align: left;
}
/* .container button{
    position: relative;
    right: 10px;
} */


.kg-button{
    min-width:75px;
    
}
.Product-Button{
    min-width: 75px;
    position: relative;
    right: -94px;
}

.kg-row{
    margin: 7px 3px;
}